@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

body{
    background-color: #272b30;
    color: #1b1c20;
}

*{
    margin: 0;
    color: #aaa;
}

.pseudobody{
    padding: 0 1rem 0 1rem;
    margin-top: 2%;
}